@import './base.css';

#app {
  max-width: 96vw;
  margin: 0 auto;
  width: 1024px;
  /* padding: 2rem; */
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-highlight);
  transition: 0.4s;
}

::selection {
  background: var(--color-contrast);
  color: var(--color-background);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-contrast);
    color: var(--color-background);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
